<%= render partial: "shared/errors", locals: {object: @ingredient} %>
<br>

<h1>Edit Ingredient</h1>

<%= form_for @ingredient, url: recipe_ingredient_path(@recipe, @ingredient) do |f| %>
    <%= render partial: 'form', locals: { f: f} %>
<% end %>