<div class="recipes-list">
    <% @cart.recipes.each do |recipe| %>
        <div class="recipe-card">
            <div class="recipe-card-image">
                <img src=<%= recipe.image %> />
            </div>
            <div class="recipe-card-name">
                <p><%= recipe.name %></p>
            </div>
        </div>
    <% end %>
</div>