/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
}

body {
  font-family: "Avenir Next", "Lato", sans-serif;
  color: #557a95;
  min-height: 100%;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  width: 40%;
  height: 5rem;
  padding-left: 8rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10rem;
  width: 100%;
}

nav {
  padding-right: 7rem;
}

nav a {
  padding-left: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.9rem;
  color: #7395ae;
  font-family: "Raleway" "Lato", sans-serif;
  letter-spacing: 0.5px;
}

main {
  min-height: 30rem;
  background: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url("food.jpg") no-repeat center center;
  background-size: cover;
}

footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 20rem;
  width: 100%;
  text-transform: uppercase;
  font-size: 0.8rem;
  color: #ccbac4;
  font-family: "Avenir Next", "Lato", sans-serif;
  background-color: #557a95;
}

footer a {
  padding-top: 1rem;
  color: white;
}
